    /***   bootstrap    ***/
    
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    
    .container:before,
    .container:after {
        content: " ";
        display: table;
    }
    
    .container:after {
        clear: both;
    }
    
    .money {
        text-align: center;
        position: absolute;
        width: 100%;
        padding: 0 px;
        padding: 0px;
        margin: 0px;
    }
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    .text-center {
        text-align: center;
    }
    
    $font-size-base: 14px !default;
    /**   wechat  deine css */
    
    body {
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: $font-size-base * 2.6;
        line-height: 1.42857143;
        color: #333;
        background-color: #000;
    }
    
    .us-btn {
        background-color: #00fcfe;
        font-family: inherit;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        width: 50%;
        border: 0px;
        padding: 0.8em 0;
    }
    
    .us-btn:active {
        color: #00fcfe;
        background-color: white;
    }
    
    .us-container {
        width: 100%;
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
    }
    
    .container {
        margin: 0 auto;
        width: 100%;
        img {
            margin: 0 auto;
        }
    }
    
    .us-btn-font-responsive {
        display: block;
        font-size: 10px;
    }
    
    .span {
        color: #03fffb;
    }
    
    ol {
        li {
            font-size: 12px;
            text-align: left;
            padding: 0;
            color: #fff;
            font-family: Microsoft YaHei;
            margin: 5% 7% 5% auto;
        }
    }
    
    .rule-title1,
    .rule-title {
        height: 1px;
        background-color: #fff;
        width: 100%;
        text-align: center;
        margin: 10% auto;
        .title {
            background-color: black;
            position: relative;
            color: #fff;
            top: -0.7em;
            display: block;
            padding: 0;
            margin: 0 auto;
            width: 40%;
            text-align: center;
        }
    }
    
    .open {
        background: #040b22;
        width: 100%;
        height: 2.55rem;
        line-height: 2.55rem;
        overflow: hidden;
        position: fixed;
        left: 0;
        bottom: 0;
        text-align: left;
        .open-icon {
            width: 2.55rem;
            height: 2.55rem;
            background: url(../img/open-icon.png) no-repeat;
            background-size: 100% 100%;
            margin-left: 0.5rem;
            display: inline-block;
        }
        .openApp {
            width: 5.125rem;
            height: 2.55rem;
            background: url(../img/download.png) no-repeat;
            background-size: 5.125rem 2.1rem;
            background-position: center center;
            float: right;
            margin-right: 0.375rem;
        }
    }
    
    .rules {
        margin-bottom: 20%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10%;
    }
    
    .text1 {
        margin-top: 4%;
    }
    
    .text-img-margin {
        margin-top: 10%;
    }
    
    img {
        width: auto\9;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    
    .counter {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .over {
        position: absolute;
        z-index: 100;
        width: 100%;
        bottom: 0;
        padding: 0;
        p {
            padding: 0;
            margin: 3%;
            color: #dd0203;
        }
    }
    
    .dynamic-h1 {
        font-size: 12.7vw;
        P {
            font-size: 13.7vw;
            margin: 0;
            padding: 1%;
        }
    }
    
    .dynamic-h2 {
        font-size: 4.3vw;
        display: inline-block;
        color: var(fontRed);
    }
    
    .dynamic-h3 {
        font-size: 4.7vw;
    }
    
    .dynamic-p {
        font-size: 2.5vw;
    }
    
    .rules ol {
        display: table;
        margin: 0 auto;
        li {
            font-size: 1.1em;
        }
    }
    
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        position: relative;
        min-height: 1px;
    }
    
    .ra-avatar {
        border: 1px solid #e7e7e7;
        border-radius: 2px;
    }
    
    span {
        padding: 0;
        margin: 0;
    }
    
    .row {
        //background-color: red;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        flex-flow: row column;
        .col {
            padding-left: 1vw;
            margin: 0;
            padding-right: 0;
        }
        .col:nth-child(1) {
            border-left: none;
        }
        ul li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        max-width:600px;
        margin-bottom:4%;
    }
    
    .row .col {
        padding-left: 2vw;
        padding-right: 0;
    }
    
    .thumbnail {
        flex: 1 1 32.555555555%;
    }
    
    .android-img {
        width: 12.6666%;
    }
    
    .col,
    .friend-couponsName {
        flex: 1 1 100%;
    }
    
    .ra-name {
        color: #00fcfe;
        text-align: left;
        font-size: 3.7777777vw;
    }
    
    .ra-desc {
        color: white;
        text-align: left;
        font-size: 2.888888vw;
    }
    
    .ra-time {
        color: #7B7979;
        text-align: left;
        font-size: 2.3333333vw;
    }
    
    .ra-name:after {
        content: "\0000a0";
    }
    
    .couponsName {
        color: #00fcfe;
        padding: 0;
        margin: 0;
        font-size: 1.490em;
        text-align: right;
    }
    
    .person {
        width: 100%;
    }
    
    @media only screen and (orientation: landscape) {}
    
    @media only screen and (orientation: landscape) {}
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
        .rules ol {
            li {
                font-size: 2.4vw;
            }
        }
        .row ul li {
            list-style: none;
        }
        .row .col {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
        .rules ol {
            li {
                font-size: 2.5vw;
            }
        }
        .row ul li {
            list-style: none;
        }
        .row .col {
            padding-left: 2vw;
            padding-right: 0;
        }
    }
    /* Desktops and laptops ----------- */
    
    @media only screen and (min-width: 1224px) {
        .money {
            top: 0;
            P {
                padding: 0;
                font-size: 11vw;
            }
        }
        .over {
            p {
                margin: 0.45em;
                font-size: 4vw;
            }
        }
        .couponsName {
            padding: 0;
            font-size: 4vw;
        }
        .row ul li {
            list-style: none;
        }
        .row .col {
            padding-left: 0vw;
            padding-right: 0;
        }
    }
    /* Large screens ----------- */
    
    @media only screen and (min-width: 1824px) {
        /* Styles */
        .money {
            top: 0;
            P {
                padding: 0;
                font-size: 8.7vw;
            }
        }
        .over {
            p {
                margin: 3vh;
                font-size: 3vw;
            }
        }
        .row ul li {
            font-size: 0.8vw;
        }
        .row .col {
            padding-left: 0vw;
            padding-right: 0;
        }
    }
    
    .hide {
        display: none;
    }
    
    .test-img {
        width: 10%;
    }
    
    .wxDownloadTip {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 111111111111111111;
        -webkit-transform: translate3d(0, -100%, 0);
        -webkit-transition: all 0.5s 0s ease-in-out;
    }
    
    .wxDownloadTip.on {
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    .wxShareTip {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 111111111111111111;
        -webkit-transform: translate3d(0, -100%, 0);
        -webkit-transition: all 0.5s 0s ease-in-out;
    }
    
    .wxShareTip.on {
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    .responsive-image {
        width: 100%;
        background-size: 100% 100%;
    }
    /**download image*/
    
    .download-img {
        background: url(../../img/download.jpg) 50% 0% no-repeat #000;
    }
    
    @media only screen and (orientation: landscape) {}
    
    .img-friend-luckey-margin {
        margin: 0 auto 6% auto;
    }
    
    .download-acquire {
        position: absolute;
        z-index: 1000000;
        top: 22%;
        max-width: 31%;
        text-align: right;
        right: 4%;
        height: 60%;
    }
