<!DOCTYPE html>
<html lang="en">

<head>
    <title>coupon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" media="screen" type="text/css" href="../../css/style.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <style type="text/css">
    .download-table {
        width: 100%;
        height: 100%;
        display: table;
        position: absolute;
    }
    
    .download-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        position: static
    }

    .download{
        width: auto;
    }
    </style>
</head>

<body>
    <div class="download-table">
        <div class="download-cell">
            <img class="download" src="../../img/download.jpg">
        </div>
    </div>
    <div class="wxDownloadTip">
        <img src='../../img/wxDownloadTip.png' class="responsive-image" />
    </div>
    <script type="text/javascript">
    $(document).ready(function() {

        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            console.log(ua);
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }

        if (isWeiXin()) {
            $('.wxDownloadTip').addClass('on');
        }else{
            window.location.href = "http://itunes.apple.com/us/app/id983129727";
        }



        $(window).resize(function() {
            var winheight = $(window).height()*0.7 + 'px';
            $('.download').height(winheight);
        });
    });
    </script>
</body>
