<div class="container text-center">
    <div class="us-container">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult()"><span class="us-btn-font-responsive">领取优惠券</span></button>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/voucher.jpg" />
    </div>
    <div class="us-container">
        <img class="img-responsive" src="./img/text.jpg" />
    </div>
    <section class="rules">
        <article>
            <div class="rule-title">
                <span class="title" >
                    优惠券使用规则
                </span>
            </div>
            <ol>
                <li>
                    优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则
                </li>
                <li>
                    优惠券使用规则优惠券使用规则优惠券使用规则
                </li>
                <li>
                    优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则
                </li>
                <li>
                    优惠券使用规则优惠券使用规则
                </li>
                <li>
                    优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则优惠券使用规则
                </li>
                <li>
                    优惠券使用规则优惠券使用规则优惠券使用规则
                </li>
            </ol>
        </article>
    </section>
    <div class="open mtop">
        <span class="open-icon"></span>
        <a href="https://itunes.apple.com/cn/app/id983129727" class="openApp"></a>
    </div>
</div>
