<div class="container text-center">
    <div class="us-container">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult($event); ">
            <span class="dynamic-h2">领取优惠券</span>
        </button>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/voucher.jpg" />
    </div>
    <div class="us-container">
        <img class="img-responsive" src="./img/text.jpg" />
    </div>
    <section class="rules">
        <article>
            <div class="us-container">
                <img class="img-responsive" src="./img/rules.png" />
            </div>
            <ol>
                <li>
                    红包用于抵扣在线支付时的实际支付金额。
                </li>
                <li>
                    红包限定一次性使用，不设找零及分次使用。
                </li>
                <li>
                    使用红包支付订单未完成，红包不会消耗并会返还您的账户。
                </li>
                <li>
                    请在红包有效使用期消费，过期作废。
                </li>
                <li>
                    最终解释权归us公司。
                </li>
            </ol>
        </article>
    </section>
    <div class="open mtop">
        <span class="open-icon"></span>
        <a href= "" ng-click ='wxTip($event)' class="openApp"></a>
        <!-- <a href="http://mp.weixin.qq.com/mp/redirect?url=http%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fid983129727%23rd">download</a> -->
    </div>
</div>
