<div class="container text-center">
    <div class="us-container text1">
        <img class="img-responsive" src="./img/vouchered2.jpg" />
        <div>
        </div>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/wechat.jpg" />
    </div>
    <div class="us-container text1">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult()"><span class="us-btn-font-responsive">分享给小伙伴</span></button>
    </div>
    <div class="us-container text1">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult()"><span class="us-btn-font-responsive">打开US立即购票</span></button>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/text.jpg" />
    </div>
    <section class="rules">
        <article>
            <div class="rule-title1">
                <span class="title">
                    看好友们的手气如何
                </span>
            </div>
            <table class="table table-responsive ">
                <tr>
                    <td class="thumbnail-img-person">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABnUlEQVR4Xu2Ysa6DMAxFHQkYkJhZ2GFG4v//gBk+gYWFESQqp7KUl1faEFKpIpeJQuLEF/seiprneaeIDwUBUAFoAXhAxB5IMEFQABQABUABUCBiBYBBYBAYBAaBwYghgD9DwCAwCAwCg8AgMBixAsBgKAwuy0J939O6rpSmKbVtS0VR6NqSe3xuXn9VeKHiuBZ1kAowE2yahoZh0OtzsnwcCWNvMlQc1+R53GUBZNN5nlPXdf/WfvdEzcGh4pxJPqgAXPZc/mYLyNMvy5KmadJ7q+uaxnHU46qq0tf5PEkSfT/LMqc4n1rJVYhgFSCJSwvs+/P1QilFR21xJAyL6RJHPMY12Vfjgglg97wIsG3bn3XFIKU67Hln41wV4WsCmI5vU+BdaxwJwomeoYlrVVwWgBcyjY5/mxi070mvc2WYHsBzTH/4FMdGrWvC9rggAvgu/gvzIECoN8FfeJo+e0AFoALwSQyfxPBJzMc97zIHFAAFQAFQABS4i6P75AEKgAKgACgACvi4513mgAKgACgACoACd3F0nzyip8ADL44GnwyyTCgAAAAASUVORK5CYII=" >
                    </td>
                    <td class="person">
                        <p class="person-name">HanSon</p>
                        <p class="person-comments">炒鸡棒，领券领到手软</p>
                        <p class="comments-date">2012-05-18</p>
                    </td>
                    <td class="price-unit"><p class="price-unit">20.00元</p></td>
                </tr>
                <tr>
                    <td class="thumbnail-img-person">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABnUlEQVR4Xu2Ysa6DMAxFHQkYkJhZ2GFG4v//gBk+gYWFESQqp7KUl1faEFKpIpeJQuLEF/seiprneaeIDwUBUAFoAXhAxB5IMEFQABQABUABUCBiBYBBYBAYBAaBwYghgD9DwCAwCAwCg8AgMBixAsBgKAwuy0J939O6rpSmKbVtS0VR6NqSe3xuXn9VeKHiuBZ1kAowE2yahoZh0OtzsnwcCWNvMlQc1+R53GUBZNN5nlPXdf/WfvdEzcGh4pxJPqgAXPZc/mYLyNMvy5KmadJ7q+uaxnHU46qq0tf5PEkSfT/LMqc4n1rJVYhgFSCJSwvs+/P1QilFR21xJAyL6RJHPMY12Vfjgglg97wIsG3bn3XFIKU67Hln41wV4WsCmI5vU+BdaxwJwomeoYlrVVwWgBcyjY5/mxi070mvc2WYHsBzTH/4FMdGrWvC9rggAvgu/gvzIECoN8FfeJo+e0AFoALwSQyfxPBJzMc97zIHFAAFQAFQABS4i6P75AEKgAKgACgACvi4513mgAKgACgACoACd3F0nzyip8ADL44GnwyyTCgAAAAASUVORK5CYII=" >
                    </td>
                    <td class="person">
                        <p class="person-name">HanSon</p>
                        <p class="person-comments">炒鸡棒，领券领到手软</p>
                        <p class="comments-date">2012-05-18</p>
                    </td>
                    <td class="price-unit"><p class="price-unit">20.00元</p></td>
                </tr>
            </table>
        </article>
    </section>
</div>
