<div class="container text-center">
    <div class="us-container text1">
        <div class="counter">
            <div style="text-align:center;" class="over">
                <p>{{code}}</p>
            </div>
            <img class="img-responsive" ng-src="{{img_url}}"/>
        </div>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/wechat.jpg" />
    </div>
    <div class="us-container text1">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult()"><span class="us-btn-font-responsive">分享给小伙伴</span></button>
    </div>
    <div class="us-container text1">
        <button class="btn btn-sm us-btn" type="button" ng-click="couponResult()"><span class="us-btn-font-responsive">打开US立即购票</span></button>
    </div>
    <div class="us-container text1">
        <img class="img-responsive" src="./img/text.jpg" />
    </div>
    <section class="rules">
        <article>
            <div class="rule-title1">
                <span class="title">
                    看好友们的手气如何
                </span>
            </div>
            <table class="table table-responsive ">
                <tr  ng-repeat='friend in friendQueues'>
                    <td class="thumbnail-img-person">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" ng-src="http://www.us-app.com/usmvn/image/{{friend.iconid}}">
                    </td>
                    <td class="person">
                        <p class="person-name">{{friend.name}}</p>
                        <p class="person-comments">炒鸡棒，领券领到手软</p>
                        <p class="comments-date">{{friend.lot_date}}</p>
                    </td>
                    <td class="price-unit">
                        <p class="price-unit">20元</p>
                    </td>
                </tr>
            </table>
        </article>
    </section>
</div>
